In [1]:
import sqlite3

In [2]:
# CREATE 
conn = sqlite3.connect("sqlite3_tutorial_JD_data_test.db")
c = conn.cursor()

In [4]:
def create_table(conn, c):
    c.execute("""CREATE TABLE IF NOT EXISTS Products(
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                _id INTEGER,
                url TEXT,
                sku_id TEXT,
                domain TEXT,
                name TEXT,
                item_name TEXT,
                parameter1 TEXT,
                parameter2 TEXT, 
                price REAL ,
                brand TEXT ,
                other TEXT) ;""")
    conn.commit()
create_table(conn, c)

In [5]:
def insert_data(conn, c, num):
    import pandas as pd
    fin = pd.read_csv("sample_jd_products.csv")

    for i in range(1, num+1):
        c.execute('''INSERT INTO Products 
        (_id, url, sku_id, domain, name, item_name, parameter1, parameter2, price, brand, other) 
        VALUES ("{}", "{}", "{}", "{}", "{}", "{}", "{}", "{}", "{}", "{}", "{}") ; '''.format(  *[ fin.loc[i][j] for j in range(1,12) ]) )
        conn.commit()
insert_data(conn, c, 2000)

In [3]:
def select_data(conn, c, Id):
    ret = c.execute("SELECT sku_id, name, price FROM Products WHERE id < {}".format(Id))
    ret = ret.fetchall() 
    if ret:
        print(ret[0])
select_data(conn, c, Id = 128)

('100418', '吉列锋速3刮胡刀刀片（4刀头）', 59.9)

In [6]:
for i in range(start_value = 0, end_value, step= 1):

In [13]:
for i in range(1, 10):
    print(i) # [1, 10)

1
2
3
4
5
6
7
8
9